@page "/offcanvas"
@inject IJSRuntime JSRuntime

<h3>Menu Offcanvas</h3>

<button class="btn btn-primary" @onclick="OpenOffcanvas" type="button" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Abrir menu lateral</button>

<BlazorApp1.Shared.Componentes.Offcanvas CerrarOffcanvas="@ControlCerrarOffcanvas"/>

@code {
    private bool isFirtsRender = true;

    private async Task OpenOffcanvas()
    {
        //Llamar a la funcion JS para abrir Offcanvas
        await JSRuntime.InvokeVoidAsync("abrirOffCanvas", "offcanvasWithBothOptions");
    }

    private async Task ControlCerrarOffcanvas()
    {
        await JSRuntime.InvokeVoidAsync("CerrarOffcanvas", "offcanvasWithBothOptions");
    }
}