@page "/vehiculos"
@inject VehiculoService VehiculoService
@using BlazorApp1.Shared.Componentes
@using BlazorApp1.Models


<BlazorApp1.Shared.Componentes.TablaVehiculos ListaGenerica="vehiculos">

</BlazorApp1.Shared.Componentes.TablaVehiculos>

<h3>Carrito de compras</h3>
<ul>
    @foreach (var producto in carrito.Productos)
    {
        <li>@producto.Nombre</li>
    }
</ul>

@code {
    [CascadingParameter] public Carrito? carrito { get; set; }

    private List<Vehiculo> vehiculos = new List<Vehiculo>();

    protected override async Task OnInitializedAsync()
    {
        vehiculos = await VehiculoService.GetVehiculosAsync();

        if (vehiculos == null || !vehiculos.Any())
        {
            Console.WriteLine("No se encontraron vehículos o la respuesta es nula.");
        }
    }

    // private List<PropiedadesTablaColumna> columnas;

    // protected override void OnInitialized()
    // {
    //     columnas = Vehiculo.ObtenerPropiedadesColumnas<Vehiculo>();
    // }
    // private List<Vehiculo> vehiculos = new List<Vehiculo>();

}