@page "/vehiculos"
@inject VehiculoService VehiculoService
@using BlazorApp1.Models
@using BlazorApp1.Shared.Componentes

<BlazorApp1.Shared.Componentes.TablaGenerica Lista_Tabulaciones="@tabs" ListaGenerica="vehiculos" idFicha="@idFicha" tituloFicha="@tituloVehiculos">

</BlazorApp1.Shared.Componentes.TablaGenerica>

<h3>Carrito de compras</h3>
<ul>
    @foreach (var producto in carrito.Productos)
    {
        <li>@producto.Nombre</li>
    }
</ul>

@code {
    [CascadingParameter] public Carrito? carrito { get; set; }

    private List<Vehiculo> vehiculos = new List<Vehiculo>();
    private List<Tabulacion> tabs = new List<Tabulacion>();
    private string idFicha = "offcanvasVehiculo";
    private string tituloVehiculos = "Detalles del Vehículo";


    protected override async Task OnInitializedAsync()
    {
        vehiculos = await VehiculoService.GetVehiculosAsync();

        if (vehiculos == null || !vehiculos.Any())
        {
            Console.WriteLine("No se encontraron vehículos o la respuesta es nula.");
        }

        tabs = new()
        {
            new()
            {
                ID = PestanyaEnum.Uno,
                Nombre = "General"
            },
            new()
            {
                ID = PestanyaEnum.Dos,
                Nombre = "Datos Personales"
            },
            new()
            {
                ID = PestanyaEnum.Tres,
                Nombre = "Observaciones"
            }
        };
    }

}